.product-card{
    display: flex;
    flex-direction: column;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

.product-info{
    display: flex;
    flex-direction: column;
    padding: 16px;
}