body{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: sans-serif
}

body h2{
    font-weight: 200;
}

.product-image{
    /* height: 100px; */
    width:100%;
    display: inline-flex;
    align-items: center;
}

.adidas-shirt{
    height: 100%;
}

.product-card{
    display: flex;
    flex-direction: column;

    box-shadow: 10px 10px 30px gray; /* horizontal, vertical, blur, color */

    padding: 10px;
    margin: 0px;

    background-color: #fff;

    border-radius: 20px;

}

.product-info{
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.product-info p{
    margin: 0px;
    opacity: 50%;
}

#main-heading{
    margin-top: 40px;
    
}

.name-price{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 5px;
}

.name-price p{
    color: hsl(161.6deg 100% 41.94%);
    font-weight: bold;
    font-size: 25px;
}

.name-price h2{
    margin: 0px;
}

.sizes{
    font-size:small;
}

.sizes h2{
    margin-bottom: 5px;
}